img{
    border-radius: 50%;
}
h1{
    border-bottom-style: double;
}

.contianer{
  position: relative;
  left: 20%;
  width: 750px;
}
.skills-box{
    position: relative;
    background-color: rgb(95, 95, 95);
    width: 100%;
    height: 200px;
    text-align:center;
    padding: 10px;

}
.skills{
    position: absolute;
    top: 35%;
    left: 20%;
    width: min-content;
    height: auto;
    border-left-style: solid  ;
    border-left-color: rgb(124, 122, 122);
    line-height: 1.5;
   
}
.skills-2{
    position: absolute;
    top: 35%;
    left: 50%;
    width: min-content;
    height: auto;
    border-left-style: solid ;
    border-left-color: rgb(124, 122, 122);
    line-height: 1.5;
  
 }
ul{
    list-style: none;
 }


hr{
    margin-top: -1em;
}
.buttom{
   position: relative;
   height: 100px;
   background-size: cover;
   background-color:rgb(95, 95, 95) ;
}
body { 
    margin: 0; padding: 0; height: 100%; border:none; 
}