body{
    margin: 0; padding: 0; height: 100%; border:none; 
}
.head{
    position: fixed;
    height: 80px;
    width:100% ;  
    z-index: 1;
    background-color: white;
}
.button-1{
    position: absolute;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    background-color:rgb(75, 75, 209) ;
    color: wheat;
    font-size: 20px;
    border-radius: 20px;
    left: 80%;
    top: 15px;
    text-align: center;
    text-decoration: none;
}
.head-menu{
    font-size: 30px;
    padding: 3px;
}
.top{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 250px;
    background-color: rgb(83, 161, 109);
  
}
.logo{
    position: relative;
    top: 110px;
    left: 200px;
    width: 250px;
    height: 180px;
    background-color: rgb(43, 63, 47);
    font-size: 65px;
    color: wheat;
}
.containe{
    position:absolute;
    width: 100%;
    height: 260%;
    background-color: rgb(238, 237, 236);
    z-index: -1;

}
.menu-1{
    position: absolute;
    border-radius: 10px;
    width: 90px;
    padding: 5px;
    background-color:rgb(36, 48, 41) ;
    color: wheat;
    font-size: 20px;
    border-radius: 10px;
    left: 45%;
    top: 65%;
    text-align: center;
    text-decoration: none;
}
.menu-2{
    position: absolute;
    border-radius: 10px;
    width: 90px;
    padding: 5px;
    background-color:rgb(36, 48, 41) ;
    color: wheat;
    font-size: 20px;
    border-radius: 10px;
    left: 55%;
    top: 65%;
    text-align: center;
    text-decoration: none;
}
.menu-3{
    position: absolute;
    border-radius: 10px;
    width: 90px;
    padding: 5px;
    background-color:rgb(36, 48, 41)  ;
    color: wheat;
    font-size: 20px;
    border-radius: 10px;
    left: 65%;
    top: 65%;
    text-align: center;
    text-decoration: none;
}
.menu-4{
    position: absolute;
    border-radius: 10px;
    width: 90px;
    padding: 5px;
    background-color:rgb(36, 48, 41)  ;
    color: wheat;
    font-size: 20px;
    border-radius: 10px;
    left: 75%;
    top: 65%;
    text-align: center;
    text-decoration: none;
}
.submenu{
    position:absolute;
}
.picture{
    position: absolute;
    width: 180px;
    height: 180px;
    border: solid black;
}
.banner{
    position: relative;
    top: 400px;
    left: 15%;
    width: 30%;
    height: 280px;
    width: 850px;
    border:solid black;
    background-color: white;
}
.banner-word{
    padding: absolute;
    font-size: 60px;
    height: 280px;
    color: black;
}
.article{
    position: relative;
    width: 400px;
    height: 500px;
    top: 850px;
    left: 15%;
    border: 5px solid rgb(136, 136, 136);
    background-color: white;
    float: left;
    display: inline;
}
.article-2{
    position: relative;
    width: 400px;
    height: 250px;
    top: 850px;
    left: 25%;
    border: 5px solid rgb(136, 136, 136);
    background-color: rgb(83, 161, 109);
    float: left;
    display: inline;
}
.article-3{
    position: relative;
    width: 400px;
    height: 250px;
    top: 1150px;
    left: 55%;
    border: 5px solid rgb(136, 136, 136);
    background-color: rgb(83, 161, 109);

}
.article-title{
    position: absolute;
    width: 200px;
    height: 50px;
    top: -30px;
    left: 10px;
    color: white;
    background-color: rgb(33, 44, 65);

}
.footer{
    position: absolute;
    top: 260%;
    width: 100%;
    height: 150px;
    background-color: rgb(83, 161, 109);
    color: white;

}