html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrap{
    margin: 0 auto;
    padding: 150px 0px;
    background: #B3D9D9;
    display: flex;
    justify-content: center;
}
.item{
    writing-mode: vertical-rl;
    font-size: 40px;
    color: #fff;
    margin-right: 100px;

}
.card{
    position:relative;
    width: 480px;
    border-radius: 20px;
    background: #f0f0f0;
    box-shadow: 5px 5px 50px #696969;
    padding: 10px 20px;
    overflow:hidden; 
}
.card img{
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.card h2{
    color: #4F9D9D;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}
.card h1{
    color: #336666;
    font-size: 36px;
    font-weight: bold;
    padding-left: 150px;
    margin-top: 20px;
}
.card ul{
    margin-top: 20px ;
    margin-left: 20px;
	margin-bottom: 5px;
	line-height: 24pt;
	color: #004e40;
}
.footer{
    background-color: #B3D9D9;
    height: 80px;
    text-align: center;
}
.footer a{
    font-size: 36px;
    text-decoration: none;
    color: #4F9D9D;
}
.footer a:hover{
    color: #356846;
}

.element1{
	position: absolute;
	top: -70px;
	right: -76px;
  width:100px;
  height:0;
  border-width:0 50px 87px;
	border-style:solid;
  border-color:transparent transparent #4F9D9D;
}
.element1:before{
  position:absolute;
  content:"";
  top:87px;
  left:-50px;
  width:100px;
  height:0;
  background:none;
  border-width:87px 50px 0;
  border-style:solid;    
  border-color:#4F9D9D transparent transparent;
  }

.element2{
	position: absolute;
	top: 75px;
	right: 80px;
	width:50px;
	height:0;
	border-width:0 25px 43px;
		border-style:solid;
	border-color:transparent transparent #6bd3a7;
}

.element2:before{
position:absolute;
content:"";
  top:43px;
  left:-25px;
  width:50px;
  height:0;
background:none;
  border-width:43px 25px 0;
border-style:solid;    
  border-color:#6bd3a7 transparent transparent;
  }

.element3{
	position: absolute;
	top: 120px;
	right:-38px;
  width:75px;
  height:0;
  border-width:0 37px 65px;
	border-style:solid;
  border-color:transparent transparent #659d92;
}
.element3:before{
position:absolute;
content:"";
  top:65px;
  left:-37px;
  width:75px;
  height:0;
background:none;
  border-width:65px 37px 0;
border-style:solid;    
  border-color:#659d92 transparent transparent;
}