.wrap{
    text-align: center;
 width: 500px;
 margin: 0 auto;
 border: 1px solid black;
}
h1{
    margin: 0px 0px;
}
p{
    margin: 0px;
    font-size: 5px;
}
.wrap hr{
    width: 80%;
}
.wrap a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.wrap a:hover{
    color: gray;
}